@if (Assets is not null)
{
    <table>
        @for (int i = 0; i < 15; i++)
        {
            <tr>
                @for (int j = 0; j < 25; j++)
                {
                    <td>
                        <Image Index="@GetIndex(i ,j)" Assets="@Assets" 
                            OnMouseOver="index => OnMouseOver.InvokeAsync(index)"
                            OnClick="index => OnClick.InvokeAsync(index)"></Image>
                    </td>
                }
            </tr>
        }
    </table>
}
@code 
{
    [Parameter]
    public GitHubItem[]? Assets { get; set; }

    [Parameter]
    public EventCallback<int> OnMouseOver { get; set; }

    [Parameter]
    public EventCallback<int> OnClick { get; set; }

    private static int GetIndex(int i, int j) => (i * 25) + j;
}
