@inherits LayoutComponentBase

<div>
    <footer class="footer mt-auto py-3">
        <div class="container text-center">
            <p cite="text-muted">© 2023 - <a class="text-body-secondary" href="https://github.com/aguacongas">Olivier Lefebvre</a> - <GitHubLogo></GitHubLogo> <a class="text-body-secondary" href="https://github.com/aguacongas/TheBeRealProject">source code</a></p>
        </div>
    </footer>
    <div class="container">
        <main class="col-md-8 mx-auto">
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</div>
