@if (SelectedIndex.HasValue) {
    <div class="selected-img me-md-3">
        <Image CssClass="rounded" Assets="@Assets" Index="SelectedIndex.Value"></Image>
    </div>
}

@code 
{
    [Parameter]
    public AssetItem[]? Assets { get; set; }
    [Parameter]
    public int? SelectedIndex { get; set; }
}
