@if (SelectedIndex.HasValue) 
{
    <h2 class="h6">@Date</h2>
}

@code 
{
    string? Date => GetDate();

    [Parameter]
    public AssetItem[]? Assets { get; set; }
    [Parameter]
    public int? SelectedIndex { get; set; }

    private string? GetDate() 
    {
        if (!SelectedIndex.HasValue)
        {
            return null;
        }

        return Assets?[Assets.GetBoundIndex(SelectedIndex.Value)]?.Date.ToLongDateString();
    }
}
