<div class="selected-img">
    <h2>@Date</h2>

    <Image Assets="@Assets" Index="Index"></Image>
</div>


@code 
{
    string Date => GetDate();

    [Parameter]
    public GitHubItem[]? Assets { get; set; }
    [Parameter]
    public int Index { get; set; }

    private string GetDate() 
    {
        var s = Assets?[Index]?.Name?.ToUpperInvariant()
            .Replace("BEREAL-", string.Empty)
            .Replace("-1200.JPEG", string.Empty);
        if (DateOnly.TryParseExact(s, "yyyy-MM-dd", out DateOnly date)) 
        {
            return date.ToString();
        }

        return " ";
    }
}
